* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

button {
  font-family: inherit;
  background: #E7F1DB;
  border: 0;
  border-radius: 4px; }

body {
  color: #3F6372;
  background: #FFFAF9;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden; }
  body .loading > img {
    vertical-align: middle; }
  body main {
    max-height: 600px;
    max-width: 600px;
    margin: auto; }
    body main h1, body main img:first-of-type {
      font-size: 2em; }
    body main button {
      padding: 0.5em;
      font-size: 1.25em; }

board table {
  position: relative;
  margin: 8px auto;
  border-spacing: 0;
  background: #E7F1DB; }
  board table td {
    height: 100px;
    width: 80px;
    padding: 0;
    border: 1px solid; }
    board table td card {
      margin-bottom: -4px; }
  board table td.success {
    background: #82A558; }

board > table:before {
  content: "Kyu";
  font-family: 'Oregano', cursive;
  font-weight: normal;
  font-size: 6em;
  opacity: 0.25;
  transform: rotate(-15deg);
  position: absolute;
  top: 50%;
  margin-top: -62px;
  left: 50%;
  margin-left: -64px;
  pointer-events: none; }

.title, .logo {
  font-family: 'Oregano', cursive;
  font-weight: normal;
  font-size: 6em; }

.player-name {
  margin: 8px;
  font-size: 2.5em;
  font-weight: bold; }

.player-name.text-left.is-active:after {
  content: "\25C0";
  margin-right: -6px;
  line-height: 1em;
  color: #507625; }

.player-name.text-right.is-active:before {
  content: "\25B6";
  margin-right: -6px;
  line-height: 1em;
  color: #507625; }

.hand {
  width: 100%;
  min-height: 100px;
  text-align: center;
  margin: 8px; }
  .hand card {
    vertical-align: middle; }

card {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 80px;
  border: 1px solid;
  transition: background 0.5s linear; }
  card * {
    position: absolute;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 1.2em; }
  card .top {
    top: 2px;
    left: 50%;
    margin-left: -8px; }
  card .right {
    right: 2px;
    top: 50%;
    margin-top: -8px; }
  card .bottom {
    bottom: 2px;
    left: 50%;
    margin-left: -8px; }
  card .left {
    left: 2px;
    top: 50%;
    margin-top: -8px; }

card.won {
  color: #F7F9F4;
  background: #5F7C88; }

card.lost {
  color: #F7F9F4;
  background: #D8A194; }

card + card {
  margin-left: 2px; }

.block {
  display: block !important; }

.inline {
  display: inline-block !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.modal {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease; }
  .modal div {
    padding: 1em 2em;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.95); }

.modal:not(.show) {
  opacity: 0;
  pointer-events: none; }

.enter-top > div {
  transition: margin-top 0.4s ease; }

.enter-top:not(.show) > div {
  margin-top: -50%; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQWFBO0VBQ0UsQUFBWTtFQUNaLEFBQWE7RUFDYixBQUFxQjtFQUNyQixBQUFrQjtFQUNsQixBQUFpQjs7QUFHbkI7RUFDRSxBQUFhO0VBcEJRLEFBcUJyQjtFQUNBLEFBQVE7RUFDUixBQUFlOztBQUdqQjtFQTVCZSxBQTZCYjtFQTVCbUIsQUE2Qm5CO0VBQ0EsQUFBYTtFQUNiLEFBQVU7RUFFWixBQUFLLEFBQVc7SUFDWixBQUFnQjtFQUdwQixBQUFLO0lBQ0QsQUFBWTtJQUNaLEFBQVc7SUFDWCxBQUFRO0lBRVosQUFBSyxBQUFLLEFBQUksQUFBSyxBQUFLLEFBQUc7TUFDckIsQUFBVztJQUdqQixBQUFLLEFBQUs7TUFDSixBQUFTO01BQ1QsQUFBVzs7QUFNakIsQUFBTTtFQUNGLEFBQVU7RUFDVixBQUFRO0VBQ1IsQUFBZ0I7RUF4REcsQUF5RG5CO0VBRUosQUFBTSxBQUFNO0lBQ04sQUFBUTtJQUNSLEFBQU87SUFDUCxBQUFTO0lBQ1QsQUFBUTtJQUVkLEFBQU0sQUFBTSxBQUFHO01BQ1AsQUFBZTtFQUd2QixBQUFNLEFBQU0sQUFBRTtJQWxFTyxBQW1FZjs7QUFJTixBQUFRLEFBQUs7RUFDWCxBQUFTO0VBQ1QsQUFBYTtFQUNiLEFBQWE7RUFDYixBQUFXO0VBQ1gsQUFBUztFQUNULEFBQVc7RUFFWCxBQUFVO0VBQ1YsQUFBSztFQUNMLEFBQVk7RUFDWixBQUFNO0VBQ04sQUFBYTtFQUViLEFBQWdCOztBQUdsQixBQUFRO0VBQ04sQUFBYTtFQUNiLEFBQWE7RUFDYixBQUFXOztBQUdiO0VBQ0UsQUFBUTtFQUNSLEFBQVc7RUFDWCxBQUFhOztBQUdmLEFBQVksQUFBVSxBQUFVO0VBQzlCLEFBQVM7RUFDVCxBQUFjO0VBQ2QsQUFBYTtFQXhHQSxBQXlHYjs7QUFFRixBQUFZLEFBQVcsQUFBVTtFQUMvQixBQUFTO0VBQ1QsQUFBYztFQUNkLEFBQWE7RUE5R0EsQUErR2I7O0FBR0Y7RUFDRSxBQUFPO0VBQ1AsQUFBWTtFQUNaLEFBQVk7RUFDWixBQUFRO0VBRVYsQUFBTTtJQUNGLEFBQWdCOztBQUlwQjtFQUNFLEFBQVM7RUFDVCxBQUFVO0VBQ1YsQUFBUTtFQUNSLEFBQU87RUFDUCxBQUFRO0VBQ1IsQUFBWTtFQUVkLEFBQUs7SUFDRCxBQUFVO0lBQ1YsQUFBUTtJQUNSLEFBQU87SUFDUCxBQUFZO0lBQ1osQUFBYTtJQUNiLEFBQVc7RUFHZixBQUFLO0lBQ0QsQUFBSztJQUNMLEFBQU07SUFDTixBQUFhO0VBRWpCLEFBQUs7SUFDRCxBQUFPO0lBQ1AsQUFBSztJQUNMLEFBQVk7RUFFaEIsQUFBSztJQUNELEFBQVE7SUFDUixBQUFNO0lBQ04sQUFBYTtFQUVqQixBQUFLO0lBQ0QsQUFBTTtJQUNOLEFBQUs7SUFDTCxBQUFZOztBQUdoQixBQUFJO0VBaEtPLEFBaUtUO0VBaEtlLEFBaUtmOztBQUdGLEFBQUk7RUFsS1EsQUFtS1Y7RUFsS2dCLEFBbUtoQjs7QUFFRixBQUFPO0VBQ0wsQUFBYTs7QUFHZjtFQUNFLEFBQVM7O0FBRVg7RUFDRSxBQUFTOztBQUdYO0VBQ0UsQUFBWTs7QUFFZDtFQUNFLEFBQVk7O0FBRWQ7RUFDRSxBQUFZOztBQUdkO0VBQ0UsQUFBUTtFQUNSLEFBQVU7RUFDVixBQUFLO0VBQ0wsQUFBTztFQUNQLEFBQVE7RUFDUixBQUFNO0VBQ04sQUFBUztFQUNULEFBQVk7RUFFWixBQUFTO0VBQ1QsQUFBaUI7RUFDakIsQUFBYTtFQVFiLEFBQVk7RUFOZCxBQUFPO0lBQ0gsQUFBUztJQUNULEFBQWU7SUFDYixBQUFZOztBQUtsQixBQUFNLEFBQUs7RUFDVCxBQUFTO0VBQ1QsQUFBZ0I7O0FBR2xCLEFBQWE7RUFDWCxBQUFZOztBQUVkLEFBQVUsQUFBSyxBQUFTO0VBQ3RCLEFBQVkiLCJmaWxlIjoic3R5bGVzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIiRkZWZhdWx0LXRleHQ6ICMzRjYzNzI7XHJcbiRwcmltYXJ5LWJhY2tncm91bmQ6ICNGRkZBRjk7XHJcbiRzZWNvbmRhcnktYmFja2dyb3VuZDogI0U3RjFEQjtcclxuXHJcbiRzdWNjZXNzLXRleHQ6ICM1MDc2MjU7XHJcbiRzdWNjZXNzLWJhY2tncm91bmQ6ICM4MkE1NTg7XHJcblxyXG4kd29uLXRleHQ6ICNGN0Y5RjQ7XHJcbiR3b24tYmFja2dyb3VuZDogIzVGN0M4ODtcclxuXHJcbiRsb3N0LXRleHQ6ICNGN0Y5RjQ7XHJcbiRsb3N0LWJhY2tncm91bmQ6ICNEOEExOTQ7XHJcblxyXG4qIHtcclxuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIHVzZXItc2VsZWN0OiBub25lO1xyXG4gIC13ZWJraXQtdXNlci1zZWxlY3Q6IG5vbmU7XHJcbiAgLW1vei11c2VyLXNlbGVjdDogbm9uZTtcclxuICAtbXMtdXNlci1zZWxlY3Q6IG5vbmU7XHJcbn1cclxuXHJcbmJ1dHRvbiB7XHJcbiAgZm9udC1mYW1pbHk6IGluaGVyaXQ7XHJcbiAgYmFja2dyb3VuZDogJHNlY29uZGFyeS1iYWNrZ3JvdW5kO1xyXG4gIGJvcmRlcjogMDtcclxuICBib3JkZXItcmFkaXVzOiA0cHg7IFxyXG59XHJcblxyXG5ib2R5IHtcclxuICBjb2xvcjogJGRlZmF1bHQtdGV4dDtcclxuICBiYWNrZ3JvdW5kOiAkcHJpbWFyeS1iYWNrZ3JvdW5kO1xyXG4gIGZvbnQtZmFtaWx5OiAnUXVpY2tzYW5kJywgc2Fucy1zZXJpZjtcclxuICBvdmVyZmxvdzogaGlkZGVuO1xyXG5cclxuICAubG9hZGluZyA+IGltZyB7XHJcbiAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xyXG4gIH1cclxuXHJcbiAgbWFpbiB7XHJcbiAgICBtYXgtaGVpZ2h0OiA2MDBweDsgXHJcbiAgICBtYXgtd2lkdGg6IDYwMHB4O1xyXG4gICAgbWFyZ2luOiBhdXRvO1xyXG5cclxuICAgIGgxLCBpbWc6Zmlyc3Qtb2YtdHlwZSB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMmVtO1xyXG4gICAgfVxyXG5cclxuICAgIGJ1dHRvbiB7IFxyXG4gICAgICBwYWRkaW5nOiAwLjVlbTtcclxuICAgICAgZm9udC1zaXplOiAxLjI1ZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5ib2FyZCB7XHJcbiAgdGFibGUge1xyXG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgbWFyZ2luOiA4cHggYXV0bztcclxuICAgIGJvcmRlci1zcGFjaW5nOiAwO1xyXG4gICAgYmFja2dyb3VuZDogJHNlY29uZGFyeS1iYWNrZ3JvdW5kO1xyXG4gICAgXHJcbiAgICB0ZCB7XHJcbiAgICAgIGhlaWdodDogMTAwcHg7XHJcbiAgICAgIHdpZHRoOiA4MHB4O1xyXG4gICAgICBwYWRkaW5nOiAwO1xyXG4gICAgICBib3JkZXI6IDFweCBzb2xpZDtcclxuXHJcbiAgICAgIGNhcmQgeyBcclxuICAgICAgICBtYXJnaW4tYm90dG9tOiAtNHB4O1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICB0ZC5zdWNjZXNzIHtcclxuICAgICAgYmFja2dyb3VuZDogJHN1Y2Nlc3MtYmFja2dyb3VuZDtcclxuICAgIH1cclxuICB9XHJcbn1cclxuYm9hcmQgPiB0YWJsZTpiZWZvcmUge1xyXG4gIGNvbnRlbnQ6IFwiS3l1XCI7XHJcbiAgZm9udC1mYW1pbHk6ICdPcmVnYW5vJywgY3Vyc2l2ZTtcclxuICBmb250LXdlaWdodDogbm9ybWFsO1xyXG4gIGZvbnQtc2l6ZTogNmVtO1xyXG4gIG9wYWNpdHk6IDAuMjU7XHJcbiAgdHJhbnNmb3JtOiByb3RhdGUoLTE1ZGVnKTtcclxuICBcclxuICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgdG9wOiA1MCU7XHJcbiAgbWFyZ2luLXRvcDogLTYycHg7XHJcbiAgbGVmdDogNTAlO1xyXG4gIG1hcmdpbi1sZWZ0OiAtNjRweDtcclxuXHJcbiAgcG9pbnRlci1ldmVudHM6IG5vbmU7XHJcbn1cclxuXHJcbi50aXRsZSwgLmxvZ28ge1xyXG4gIGZvbnQtZmFtaWx5OiAnT3JlZ2FubycsIGN1cnNpdmU7XHJcbiAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcclxuICBmb250LXNpemU6IDZlbTtcclxufVxyXG5cclxuLnBsYXllci1uYW1lIHtcclxuICBtYXJnaW46IDhweDtcclxuICBmb250LXNpemU6IDIuNWVtO1xyXG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG59XHJcblxyXG4ucGxheWVyLW5hbWUudGV4dC1sZWZ0LmlzLWFjdGl2ZTphZnRlciB7XHJcbiAgY29udGVudDogXCJcXDI1QzBcIjtcclxuICBtYXJnaW4tcmlnaHQ6IC02cHg7XHJcbiAgbGluZS1oZWlnaHQ6IDFlbTtcclxuICBjb2xvcjogJHN1Y2Nlc3MtdGV4dDtcclxufVxyXG4ucGxheWVyLW5hbWUudGV4dC1yaWdodC5pcy1hY3RpdmU6YmVmb3JlIHtcclxuICBjb250ZW50OiBcIlxcMjVCNlwiO1xyXG4gIG1hcmdpbi1yaWdodDogLTZweDtcclxuICBsaW5lLWhlaWdodDogMWVtO1xyXG4gIGNvbG9yOiAkc3VjY2Vzcy10ZXh0O1xyXG59XHJcblxyXG4uaGFuZCB7XHJcbiAgd2lkdGg6IDEwMCU7XHJcbiAgbWluLWhlaWdodDogMTAwcHg7XHJcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gIG1hcmdpbjogOHB4O1xyXG5cclxuICBjYXJkIHtcclxuICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XHJcbiAgfVxyXG59XHJcblxyXG5jYXJkIHtcclxuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gIGhlaWdodDogMTAwcHg7XHJcbiAgd2lkdGg6IDgwcHg7XHJcbiAgYm9yZGVyOiAxcHggc29saWQ7XHJcbiAgdHJhbnNpdGlvbjogYmFja2dyb3VuZCAwLjVzIGxpbmVhcjtcclxuICBcclxuICAqIHtcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIGhlaWdodDogMTZweDtcclxuICAgIHdpZHRoOiAxNnB4O1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgbGluZS1oZWlnaHQ6IDE2cHg7XHJcbiAgICBmb250LXNpemU6IDEuMmVtO1xyXG4gIH1cclxuXHJcbiAgLnRvcCB7IFxyXG4gICAgdG9wOiAycHg7XHJcbiAgICBsZWZ0OiA1MCU7XHJcbiAgICBtYXJnaW4tbGVmdDogLThweDtcclxuICB9XHJcbiAgLnJpZ2h0IHsgXHJcbiAgICByaWdodDogMnB4O1xyXG4gICAgdG9wOiA1MCU7XHJcbiAgICBtYXJnaW4tdG9wOiAtOHB4O1xyXG4gIH1cclxuICAuYm90dG9tIHsgXHJcbiAgICBib3R0b206IDJweDtcclxuICAgIGxlZnQ6IDUwJTtcclxuICAgIG1hcmdpbi1sZWZ0OiAtOHB4O1xyXG4gIH1cclxuICAubGVmdCB7IFxyXG4gICAgbGVmdDogMnB4O1xyXG4gICAgdG9wOiA1MCU7XHJcbiAgICBtYXJnaW4tdG9wOiAtOHB4O1xyXG4gIH1cclxufVxyXG5jYXJkLndvbiB7XHJcbiAgY29sb3I6ICR3b24tdGV4dDtcclxuICBiYWNrZ3JvdW5kOiAkd29uLWJhY2tncm91bmQ7XHJcbiAgICBcclxufVxyXG5jYXJkLmxvc3Qge1xyXG4gIGNvbG9yOiAkbG9zdC10ZXh0O1xyXG4gIGJhY2tncm91bmQ6ICRsb3N0LWJhY2tncm91bmQ7XHJcbn1cclxuY2FyZCArIGNhcmQge1xyXG4gIG1hcmdpbi1sZWZ0OiAycHg7XHJcbn1cclxuXHJcbi5ibG9jayB7XHJcbiAgZGlzcGxheTogYmxvY2shaW1wb3J0YW50O1xyXG59XHJcbi5pbmxpbmUge1xyXG4gIGRpc3BsYXk6IGlubGluZS1ibG9jayFpbXBvcnRhbnQ7XHJcbn1cclxuXHJcbi50ZXh0LWxlZnQge1xyXG4gIHRleHQtYWxpZ246IGxlZnQ7XHJcbn1cclxuLnRleHQtY2VudGVyIHtcclxuICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn1cclxuLnRleHQtcmlnaHQge1xyXG4gIHRleHQtYWxpZ246IHJpZ2h0O1xyXG59XHJcblxyXG4ubW9kYWwge1xyXG4gIGNvbnRlbnQ6XCJcIjtcclxuICBwb3NpdGlvbjogZml4ZWQ7XHJcbiAgdG9wOiAwO1xyXG4gIHJpZ2h0OiAwO1xyXG4gIGJvdHRvbTogMDtcclxuICBsZWZ0OiAwO1xyXG4gIHotaW5kZXg6IDE7XHJcbiAgYmFja2dyb3VuZDogcmdiYSgwLDAsMCwwLjc1KTtcclxuXHJcbiAgZGlzcGxheTogZmxleDtcclxuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG5cclxuICBkaXYge1xyXG4gICAgcGFkZGluZzogMWVtIDJlbTtcclxuICAgIGJvcmRlci1yYWRpdXM6IDhweDtcclxuICAgICAgYmFja2dyb3VuZDogcmdiYSgyNTUsMjU1LDI1NSwwLjk1KTtcclxuICB9XHJcblxyXG4gIHRyYW5zaXRpb246IG9wYWNpdHkgMC40cyBlYXNlO1xyXG59XHJcbi5tb2RhbDpub3QoLnNob3cpIHtcclxuICBvcGFjaXR5OiAwO1xyXG4gIHBvaW50ZXItZXZlbnRzOiBub25lO1xyXG59XHJcblxyXG4uZW50ZXItdG9wID4gZGl2IHtcclxuICB0cmFuc2l0aW9uOiBtYXJnaW4tdG9wIDAuNHMgZWFzZTtcclxufVxyXG4uZW50ZXItdG9wOm5vdCguc2hvdykgPiBkaXYge1xyXG4gIG1hcmdpbi10b3A6IC01MCU7XHJcbn0iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */