$default-text: #3F6372;
$primary-background: #FFFAF9;
$secondary-background: #E7F1DB;

$success-text: #82A558;
$success-background: #82A558;

$won-text: #F7F9F4;
$won-background: #5F7C88;

$lost-text: #F7F9F4;
$lost-background: #D8A194;

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  background: $secondary-background;
  border: 0;
  border-radius: 4px; 
}

body {
  color: $default-text;
  background: $primary-background;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;

  .loading > img {
    vertical-align: middle;
  }

  main {
    height: 600px; 
    width: 600px;
    margin: auto;

    h1, img:first-of-type {
      font-size: 2em;
    }

    button { 
      padding: 0.5em;
      font-size: 1.25em;
    }
  }
}

board {
  table {
    margin: 8px auto;
    border-spacing: 0;
    background: $secondary-background;
    
    td {
      height: 100px;
      width: 80px;
      padding: 0;
      border: 1px solid;

      card { 
        margin-bottom: -4px;
      }
    }
    td.success {
      background: $success-background;
    }
  }
  .logo {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    left: 50%;
    margin-left: -67px;
    opacity: 0.25;
    transform: rotate(-15deg);
    pointer-events: none;
  }
}

.title, .logo {
  font-family: 'Oregano', cursive;
  font-weight: normal;
  font-size: 6em;
}

.player-name {
  margin: 8px;
  font-size: 2.5em;
  font-weight: bold;
}

.hand {
  width: 100%;
  text-align: center;
  margin: 8px;
}

.hand.is-active:before {
  content: "\25B6";
  margin-left: -50px;
  line-height: 98px;
  font-size: 4em;
  vertical-align: top;
  color: $success-text;
}

card {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 80px;
  border: 1px solid;
  background: white;
  transition: background 0.5s linear;
  
  * {
    position: absolute;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
  }

  .top { 
    top: 0;
    left: 50%;
    margin-left: -8px;
  }
  .right { 
    right: 0;
    top: 50%;
    margin-top: -8px;
  }
  .bottom { 
    bottom: 0;
    left: 50%;
    margin-left: -8px;
  }
  .left { 
    left: 0;
    top: 50%;
    margin-top: -8px;
  }
}
card.won {
  color: $won-text;
  background: $won-background;
    
}
card.lost {
  color: $lost-text;
  background: $lost-background;
}
card + card {
  margin-left: 2px;
}

.block {
  display: block!important;
}
.inline {
  display: inline-block!important;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.modal {
  content:"";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,0.75);

  display: flex;
  justify-content: center;
  align-items: center;

  div {
    padding: 1em 2em;
    border-radius: 8px;
      background: rgba(255,255,255,0.95);
  }

  transition: opacity 0.4s ease;
}
.modal:not(.show) {
  opacity: 0;
  pointer-events: none;
}

.enter-top > div {
  transition: margin-top 0.4s ease;
}
.enter-top:not(.show) > div {
  margin-top: -50%;
}